/* custom */
.login-image{
    width: 100%;
    background-image: url("../../images/large-landing.jpg");
    background-position-x: 50%;
    background-position-y: 50%;
    height: 600px;
    text-align: center;
}

/* sign in styles */
.panel{
    padding: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    height: 500px;
    overflow: scroll;
}

.panel a{
    text-decoration: none;
    color: black;
}

.teacher-attendance{
    background-color: grey;
    transition: .4s all;
    margin: 2px;
    padding: 10px;
    text-align: left;
    color: white;
}

.teacher-attendance:hover{
    opacity: .5;
    transform: scale(1.01); 
    transition: .4s all;

}

.panel form:hover{
    cursor: pointer;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}