/* GLOBALS */
.repertoire-list-holder{
  overflow: scroll;
  max-height: 400px;
}

.repertoire-list-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: white;
  position: relative;
}

.permanent-remove{
  position: absolute;
  right: 5px;
  top: 5px;
  max-width: 10px;
  opacity: .5;
  transition: .5s all;
}

.permanent-remove:hover{
  opacity: 1;
  cursor: pointer;
  transition: .5s all;
}

.repertoire-column-headers{
  display: grid;
  background-color: #0a1e5d;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

span img{
  max-width: 20px;
  margin: 0;
}

.practice-holder{
    max-width: 100%;
    /* background-color: #0a1e5c; */
    display: grid;
    grid-template-areas: 
    "p-list p-graph"
    "p-list p-tracker"
    "allrep allrep"
    "addrep .";
    grid-gap: 10px;
    padding: 10px;
}

/* PRACTICE LIST  */
.practice-list{
    grid-area: p-list;
    text-align: center;
}

.practice-entry{
  color: black;
  padding: 5px;
  margin: 0;
  transition: .5s all;
}

.practice-entry:hover{
  cursor: pointer;
}

/* PRACTICE GRAPH */
.practice-graph{
    grid-area: p-graph;
    text-align: center;
}

/* STOP WATCH HOLDER */
.practice-tracker{
    grid-area: p-tracker;
}

.practice-stopWatchHolder{
  display: grid;
  grid-template-areas: 
  "swRecord swReset swSubmit"
  "swDisplay swDisplay swDisplay";
  grid-gap: 5px;
  margin: 5px;
  justify-content: center;
}

.practice-stopWatchDisplay{
  grid-area: swDisplay;
  padding: 5px;
  text-align: center;
  font-size: 2em;
}

.practice-stopWatchRecord{
  grid-area: swRecord;
}

.practice-stopWatchReset{
  grid-area: swReset;
}

.practice-button{
  background-color:#0a1e5c;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100px;
  text-align: center;
}

.practice-button:hover{
  cursor: pointer;
}

.practice-nonUse{
  pointer-events: none;
  opacity: .5;
}

/* ALL REP HOLDER */
.practice-allRepHolder{
  grid-area: allrep;
  text-align: center;
  max-height: 500px;
}


/* ADD REPERTOIRE HOLDER */
.practice-addRep{
  grid-area: addrep;
  background-color: #dfdfdf;
}


.practice-header{
  background-color: #7f7f7f;
  color: black;
  padding: 3px;
  margin: 0;
  font-size: 1.1em;
  border-bottom: black 2px solid;
}

.practice-hidden{
  display: none;
}

/* POP UP */
#practice-loading-popup{
  position: absolute;
  top: 200px;
  left: 350px;
  display: none;
}

.practice-safeRemoveModal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.practice-safeRemoveContent{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-areas: 
  "mc mc mc mc mc mc"
  "mc mc mc mc mc mc"
  "mc mc mc mc mc mc"
  ". . yes no . .";
  grid-gap: 10px;
}

.practice-safeContent{
  grid-area: mc;
  padding: 10px;

}

.practice-safeYes{
  grid-area: yes;
  padding: 10px;
  width: 120px;
  text-align: center;
}

.practice-safeNo{
  grid-area: no;
  padding: 10px;
  width: 120px;
  text-align: center;
}

.practice-safeClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-button {
  padding: 10px;
  font-size: 1.4em;
  border-radius: 10px;
  color: white;
  background-color: #7f7f7f;
}

.modal-button:hover{
  opacity: .8;
  cursor: pointer;
}

.practice-safeRemove{
  /* NEED TO MAKE BUTTON */
}

.practice-addToList{
  /* NEED TO MAKE BUTTON */
}

.practice-removeFromLis{
  /* NEED TO MAKE BUTTON */
}

.practice-safeRemove:hover{
  cursor: pointer;
}

.practice-addToList:hover{
  cursor: pointer;
}

.practice-removeFromList:hover{
  cursor: pointer;
}