.sort-repertoires{
    padding: 15px;
    display: grid;
    grid-template-areas:
    "tab tab tab tab"
    "list list list list"
    "list list list list";
}

.tab{
    background-color: #e0e0e0;
    grid-area: tab;
    display: inline-block;
    padding-top: 10px;
}

.tab div{
    background-color: #0a1e5c;
    float: left;
    color: white;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    padding: 10px;
    opacity: .5;
    margin-right: 2px;
    width: 90px;
}

.tab div:hover{
    cursor: pointer;
}

.list{
    background-color: #0a1e5c; 
    grid-area: list;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 400px;
    grid-gap: 4px;
}

.viewed-list{
    background-color: #e0e0e0;
    grid-column: 1/7;
    margin: 15px;
}

#control-row{
    background-color: grey;
    color: black;
}

.view-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.view-row div{
    float: left;
    border-bottom: solid black 2px;
    color: black;
}

#all{
    opacity: 1;
}